SERVER_URL=
LOGIN_ACCEPTED=LOGIN_ACCEPTED
GOTO_PORTFOLIO=GOTO_PORTFOLIO
DISPATCH_REFRESH_TWEETS=DISPATCH_REFRESH_TWEETS
LOGOUT=LOGOUT
XMPP_SERVER=
XMPP_CLIENT_DEFAULT_PASSWORD=
TWEETS_ROOM_NAME=
TWEETS_COMMUNICATION_ROOM_NAME=
TWEET_POST_SUCCESSFUL=TWEET_POST_SUCCESSFUL
TWEET_SERVER_URL=
TWEET_SELECTION_CHANGE=TWEET_SELECTION_CHANGE
REFRESH_TWEETS=REFRESH_TWEETS
REFRESH_TWEETS_PORTFOLIO=REFRESH_TWEETS_PORTFOLIO
RE_TWEET=RE_TWEET